<h1>Create Recipe</h1>
<form action="/recipe/create" method="post">
  <label for="name">Name your recipe</label>
  <input type="text" name="name" placeholder="Javi's famous jabenero sauce"><br>
  <button type="submit" class='btn btn-info'>Create!</button><br>
  <a href='/'>Take me home tonight</a>
</form>
