<h1>Create Ingredient</h1>
<form action="/ingredient/create" method="post">
  <label for="item">Enter an Ingredient</label>
  <input type="text" name="item" placeholder='Zuchini'><br>
  <button type="submit" class='btn btn-info'>Create!</button><br>
  <a href='/'>Take me home tonight</a>
</form>
