<h1>Create Category</h1>
<form action="/category/create" method="post">
  <label for="category">Enter a category</label>
  <input type="text" name="category" placeholder='Mexican'><br>
  <button type="submit" class='btn btn-info'>Create!</button><br>
  <a href='/'>Take me home tonight</a>
</form>
