<h1><%= @ingredient.item %></h1>

<h4>These are the recipes you can use <%= @ingredient.item %> for</h4>
<div>
  <% @ingredient.recipes.each do |recipe| %>
    <li><%= recipe.name %></li>
  <% end %>
</div>

<a href='/'>Take me home tonight</a>
